<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zog-Zog-tac. | Mordor tactical </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/logo_iconM.jpg"/>
</head>
<body>
<header class="widget-menu">
    <li><a href="/main"><img src="/img/menu.jpg" alt=""></a></li>
    <li><a href="/"><img src="/img/logo.jpg" alt=""></a></li>
    <li><a href="/orders"><img src="/img/basket.jpg" alt=""></a></li>
</header>
<div class="widget-2">
    <ul class="widget-menu">
    </ul>
</div>
<h1 align="center"><span><img src="../img/i.jpg" alt="" width="50" height="40"></span> ПОДСУМКИ <span><img src="../img/i.jpg" alt="" width="50" height="40"></span></h1>
<main>
    <section class="products">
        <div class="product">
            <h4>Быстрый подсумок для трех магазинов АК</h4>
            <img src="../img-tac/snar60.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="860">Добавить в корзину</button>
                <p>Цена: 1500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Подсумок для двух </br>магазинов АК</h4>
            <img src="../img-tac/snar53.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="853">Добавить в корзину</button>
                <p>Цена: 1300₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Быстрый подсумок для одного магазина АК</h4>
            <img src="../img-tac/snar30.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="830">Добавить в корзину</button>
                <p>Цена: 1400₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Подсумок для одного </br>магазина АК</h4>
            <img src="../img-tac/snar14.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="814">Добавить в корзину</button>
                <p>Цена: 1200₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Подсумок для двух магазинов СВД</h4>
            <img src="../img-tac/snar44.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="844">Добавить в корзину</button>
                <p>Цена: 1300₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Подсумок для одного магазина СВД</h4>
            <img src="../img-tac/snar21.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="821">Добавить в корзину</button>
                <p>Цена: 1100₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Подсумок для гранат</h4>
            <img src="../img-tac/snar42.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="842">Добавить в корзину</button>
                <p>Цена: 1600₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Подсумок для ПКМ</h4>
            <img src="../img-tac/snar76.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="876">Добавить в корзину</button>
                <p>Цена: 1800₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Подсумок для РПК</h4>
            <img src="../img-tac/snar67.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="867">Добавить в корзину</button>
                <p>Цена: 1600₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Закрытый егерьский подсумок</h4>
            <img src="../img-tac/snar45.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="845">Добавить в корзину</button>
                <p>Цена: 2000₽</p>
            </form>
        </div>
    </section>
</main></br></br>
<h1 align="center"><span><img src="../img/i.jpg" alt="" width="50" height="40"></span> ПОДСУМКИ МЕДИЦИНСКИЕ <span><img src="../img/i.jpg" alt="" width="50" height="40"></span></h1>
<main>
    <section class="products">
        <div class="product">
            <h4>Эвакуационная стропа с подсумком</h4>
            <img src="../img-tac/snar77.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="872">Добавить в корзину</button>
                <p>Цена: 1900₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Отрывной медицинский </br>подсумок</h4>
            <img src="../img-tac/snar19.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="819">Добавить в корзину</button>
                <p>Цена: 4000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Подсумок санитарный первого эшелона</h4>
            <img src="../img-tac/snar68.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="868">Добавить в корзину</button>
                <p>Цена: 2500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Подсумок для жгута и ножниц</h4>
            <img src="../img-tac/snar6.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="806">Добавить в корзину</button>
                <p>Цена: 2000₽</p>
            </form>
        </div>
    </section>
</main></br></br>
<h1 align="center"><span><img src="../img/i.jpg" alt="" width="50" height="40"></span> ПОДСУМКИ УТИЛИТАРНЫЕ <span><img src="../img/i.jpg" alt="" width="50" height="40"></span></h1>
<main>
    <section class="products">
        <div class="product">
            <h4>Утилитарная </br>сумка</h4>
            <img src="../img-tac/snar46.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="846">Добавить в корзину</button>
                <p>Цена: 3500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Утилитарный подсумок универсальный</h4>
            <img src="../img-tac/snar23.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="823">Добавить в корзину</button>
                <p>Цена: 2500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Напашный подсумок </br>"Вагнер"</h4>
            <img src="../img-tac/snar26.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="826">Добавить в корзину</button>
                <p>Цена: 3500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Сумка "Штурмовик"</h4>
            <img src="../img-tac/snar75.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="875">Добавить в корзину</button>
                <p>Цена: 4000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Сумка "Штурмовик-эшелон"</h4>
            <img src="../img-tac/snar69.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="869">Добавить в корзину</button>
                <p>Цена: 4500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Сумка "Стрелок"</h4>
            <img src="../img-tac/snar80.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="880">Добавить в корзину</button>
                <p>Цена: 4000₽</p>
            </form>
        </div>
    </section>
</main></br></br>
<h1 align="center"><span><img src="../img/i.jpg" alt="" width="50" height="40"></span> ПОДСУМКИ ДЛЯ СБРОСА И ПРОЧИЕ <span><img src="../img/i.jpg" alt="" width="50" height="40"></span></h1>
<main>
    <section class="products">
        <div class="product">
            <h4>Подсумок для сброса</h4>
            <img src="../img-tac/snar50.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="850">Добавить в корзину</button>
                <p>Цена: 1500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Кобура универсальная</h4>
            <img src="../img-tac/snar55.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="855">Добавить в корзину</button>
                <p>Цена: 1300₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Подсумок для фляги</h4>
            <img src="../img-tac/snar2.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="802">Добавить в корзину</button>
                <p>Цена: 1400₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Подсумок для рации</h4>
            <img src="../img-tac/snar4.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="804">Добавить в корзину</button>
                <p>Цена: 2050₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Открытая кобура</h4>
            <img src="../img-tac/snar3.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="803">Добавить в корзину</button>
                <p>Цена: 1300₽</p>
            </form>
        </div>
    </section>
</main></br></br>
<div class="widget-3"></div>
<footer>
    <header class="widget-menu">
        <li><a href="#"><img src="/img/i.jpg" alt="" height="40p" width="50p"></a></li>
    </header>
    <div class="widget-menu-footer">
        <ul class="widget-menu">
            <li><a href="/inf">Информация</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="#">Методы оплаты</a></li>
            <li><a href="#">Оптовые закупки</a></li>
            <li><a href="/inf">Политика конфиденциальности</a></li>
            <li><a href="#">Договор оферты</a></li>
            <li><a href="#">Дополнительно</a></li>
        </ul>
    </div>
    <div class="widget-menu-footer">
        <ul class="widget-menu">
            <li><a href="#">Акции</a></li>
            <li><a href="#">Возвраты</a></li>
            <li><a href="#">Карта сайта</a></li>
        </ul>
    </div>
    <p>&copy; 2023 Zog-Zog-tac. Все права даёт война (классовая).</p>
</footer>
<div class="widget-3"></div>
<script src="../static/script.js"></script>
</body>
</html>