<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zog-Zog Tac. | Mordor tactical </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="../img/logo_iconM.jpg"/>
</head>
<header class="widget-menu">
    <li><a href="/main"><img src="../img/menu.jpg" alt=""></a></li>
    <li><a href="/"><img src="../img/logo.jpg" alt=""></a></li>
    <li><a href="/orders"><img src="../img/basket.jpg" alt=""></a></li>
</header>
<body>
<header class="widget">
    <nav>
        <ul class="widget-menu">
            <li><a href="/">Главная</a></li>
            <li><a href="/inf">О Нас</a></li>
            <li><a href="/contacts">Для Партнеров</a></li>
        </ul>
    </nav>
</header>
</body>
</html>