<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zog-Zog-tac. | Mordor tactical </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/logo_iconM.jpg"/>
</head>
<body>
<header class="widget-menu">
    <li><a href="/main"><img src="/img/menu.jpg" alt=""></a></li>
    <li><a href="/"><img src="/img/logo.jpg" alt=""></a></li>
    <li><a href="/orders"><img src="/img/basket.jpg" alt=""></a></li>
</header>
<div class="widget-2">
    <ul class="widget-menu">
    </ul>
</div>
<h1 align="center"><span><img src="../img/i.jpg" alt="" width="50" height="40"></span> ОДЕЖДА <span><img src="../img/i.jpg" alt="" width="50" height="40"></span></h1>
<main>
        <section class="products">
            <div class="product">
                <h4>Маскировочный костюм </br>"Спецназ ГРУ"</h4>
                <img src="../img-tac/od8.jpg" alt=""></br>
                <form method="post" action="/addbask">
                    <button class="AddToCartBtn" type="submit" name="productId" value="48">Добавить в корзину</button>
                    <p>Цена: 6000₽</p>
                </form>
            </div>
            <div class="product">
                <h4>Маскировочный костюм </br>"Горка"</h4>
                <img src="../img-tac/od31.jpg" alt=""></br>
                <form method="post" action="/addbask">
                    <button class="AddToCartBtn" type="submit" name="productId" value="431">Добавить в корзину</button>
                    <p>Цена: 6000₽</p>
                </form>
            </div>
            <div class="product">
                <h4>Костюм летний уставной </br>ВКПО</h4>
                <img src="../img-tac/od22.jpg" alt=""></br>
                <form method="post" action="/addbask">
                    <button class="AddToCartBtn" type="submit" name="productId" value="422">Добавить в корзину</button>
                    <p>Цена: 5000₽</p>
                </form>
            </div>
            <div class="product">
                <h4>Костюм </br>"Осень-МТ"</h4>
                <img src="../img-tac/od9.jpg" alt=""></br>
                <form method="post" action="/addbask">
                    <button class="AddToCartBtn" type="submit" name="productId" value="49">Добавить в корзину</button>
                    <p>Цена: 10000₽</p>
                </form>
            </div>
            <div class="product">
                <h4>Костюм </br>"Лето-МТ"</h4>
                <img src="../img-tac/od4.jpg" alt=""></br>
                <form method="post" action="/addbask">
                    <button class="AddToCartBtn" type="submit" name="productId" value="49">Добавить в корзину</button>
                    <p>Цена: 4500₽</p>
                </form>
            </div>
            <div class="product">
                <h4>Костюм </br>"Лес-МТ"</h4>
                <img src="../img-tac/od5.jpg" alt=""></br>
                <form method="post" action="/addbask">
                    <button class="AddToCartBtn" type="submit" name="productId" value="49">Добавить в корзину</button>
                    <p>Цена: 4500₽</p>
                </form>
            </div>
        </section>
</main></br>
<h1 align="center"><span><img src="../img/i.jpg" alt="" width="50" height="40"></span> ТЕРМОБЕЛЬЁ <span><img src="../img/i.jpg" alt="" width="50" height="40"></span></h1>
<main>
    <section class="products">
        <div class="product">
            <h4>Термобелье водоотводящие-утепленное</h4>
            <img src="../img-tac/od12.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="412">Добавить в корзину</button>
                <p>Цена: 5000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Термобелье </br>утепленное</h4>
            <img src="../img-tac/od12.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="440">Добавить в корзину</button>
                <p>Цена: 5000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Термобелье </br>водоотводящие</h4>
            <img src="../img-tac/od29.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="429">Добавить в корзину</button>
                <p>Цена: 5000₽</p>
            </form>
        </div>
    </section>
</main>
<h1 align="center"><span><img src="../img/i.jpg" alt="" width="50" height="40"></span> ОБУВЬ <span><img src="../img/i.jpg" alt="" width="50" height="40"></span></h1>
<main>
    <section class="products">
        <div class="product">
            <h4>Демосезонные берцы</h4>
            <img src="../img-tac/od14.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="429">Добавить в корзину</button>
                <p>Цена: 4500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Ботинки летние "Спец"</h4>
            <img src="../img-tac/od15.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="429">Добавить в корзину</button>
                <p>Цена: 5500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Ботинки "Отшельник"</h4>
            <img src="../img-tac/od16.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="429">Добавить в корзину</button>
                <p>Цена: 4000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Берцы "Сварог"</h4>
            <img src="../img-tac/od17.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="429">Добавить в корзину</button>
                <p>Цена: 4500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Берцы камуфляж "Пустыня"</h4>
            <img src="../img-tac/od23.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="429">Добавить в корзину</button>
                <p>Цена: 5000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Ботинки камуфляж "Лес"</h4>
            <img src="../img-tac/od30.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="429">Добавить в корзину</button>
                <p>Цена: 5500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Берцы камуфляж "Лес"</h4>
            <img src="../img-tac/od32.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="429">Добавить в корзину</button>
                <p>Цена: 5500₽</p>
            </form>
        </div>
    </section>
</main></br></br>
<div class="widget-3"></div>
<footer>
    <header class="widget-menu">
        <li><a href="#"><img src="/img/i.jpg" alt="" height="40p" width="50p"></a></li>
    </header>
    <div class="widget-menu-footer">
        <ul class="widget-menu">
            <li><a href="/inf">Информация</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="#">Методы оплаты</a></li>
            <li><a href="#">Оптовые закупки</a></li>
            <li><a href="/inf">Политика конфиденциальности</a></li>
            <li><a href="#">Договор оферты</a></li>
            <li><a href="#">Дополнительно</a></li>
        </ul>
    </div>
    <div class="widget-menu-footer">
        <ul class="widget-menu">
            <li><a href="#">Акции</a></li>
            <li><a href="#">Возвраты</a></li>
            <li><a href="#">Карта сайта</a></li>
        </ul>
    </div>
    <p>&copy; 2023 Zog-Zog-tac. Все права даёт война (классовая).</p>
</footer>
<div class="widget-3"></div>
<script src="../static/script.js"></script>
</body>
</html>
