<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zog-Zog-tac. | Mordor tactical </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/logo_iconM.jpg"/>
</head>
<body>
<header class="widget-menu">
    <li><a href="/main"><img src="/img/menu.jpg" alt=""></a></li>
    <li><a href="/"><img src="/img/logo.jpg" alt=""></a></li>
    <li><a href="/orders"><img src="/img/basket.jpg" alt=""></a></li>
</header>
<div class="widget-2">
    <ul class="widget-menu">
    </ul>
</div>
<h1 align="center"><span><img src="../img/i.jpg" alt="" width="50" height="40"></span> НАШИВКИ-ПАТЧИ <span><img src="../img/i.jpg" alt="" width="50" height="40"></span></h1>
<main>
    <section class="products">
        <div class="product">
            <h4>PVC-Патч </br>"Обозначение-Свой"</h4>
            <img src="../img-tac/patch2.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="52">Добавить в корзину</button>
                <p>Цена: 500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>PVC-Патч </br>СССР</h4>
            <img src="../img-tac/patch3.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="53">Добавить в корзину</button>
                <p>Цена: 500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Патч </br>Медик</h4>
            <img src="../img-tac/patch4.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="54">Добавить в корзину</button>
                <p>Цена: 500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>PVC-Патч Россия "Соты"</h4>
            <img src="../img-tac/patch7.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="57">Добавить в корзину</button>
                <p>Цена: 500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>PVC-Патч Чечня</h4>
            <img src="../img-tac/patch6.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="56">Добавить в корзину</button>
                <p>Цена: 500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>PVC-Патч Чечня "Соты"</h4>
            <img src="../img-tac/patch5.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="55">Добавить в корзину</button>
                <p>Цена: 500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>PVC-Патч РИ "Линии"</h4>
            <img src="../img-tac/patch8.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="58">Добавить в корзину</button>
                <p>Цена: 500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>PVC-Патч Россия "Линии"</h4>
            <img src="../img-tac/patch9.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="59">Добавить в корзину</button>
                <p>Цена: 500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Патч "Донецкая Республика"</h4>
            <img src="../img-tac/patch1.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="51">Добавить в корзину</button>
                <p>Цена: 500₽</p>
            </form>
        </div>
    </section>
</main></br></br>
<div class="widget-3"></div>
<footer>
    <header class="widget-menu">
        <li><a href="#"><img src="/img/i.jpg" alt="" height="40p" width="50p"></a></li>
    </header>
    <div class="widget-menu-footer">
        <ul class="widget-menu">
            <li><a href="/inf">Информация</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="#">Методы оплаты</a></li>
            <li><a href="#">Оптовые закупки</a></li>
            <li><a href="/inf">Политика конфиденциальности</a></li>
            <li><a href="#">Договор оферты</a></li>
            <li><a href="#">Дополнительно</a></li>
        </ul>
    </div>
    <div class="widget-menu-footer">
        <ul class="widget-menu">
            <li><a href="#">Акции</a></li>
            <li><a href="#">Возвраты</a></li>
            <li><a href="#">Карта сайта</a></li>
        </ul>
    </div>
    <p>&copy; 2023 Zog-Zog-tac. Все права даёт война (классовая).</p>
</footer>
<div class="widget-3"></div>
<script src="../static/script.js"></script>
</body>
</html>