<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zog-Zog-tac. | Mordor tactical </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/logo_iconM.jpg"/>
</head>
<body>
<header class="widget-menu">
    <li><a href="/main"><img src="/img/menu.jpg" alt=""></a></li>
    <li><a href="/"><img src="/img/logo.jpg" alt=""></a></li>
    <li><a href="/orders"><img src="/img/basket.jpg" alt=""></a></li>
</header>
<div class="widget-2">
    <ul class="widget-menu">
    </ul>
</div>
<h1 align="center"><span><img src="../img/i.jpg" alt="" width="50" height="40"></span> ПЛИТЫ <span><img src="../img/i.jpg" alt="" width="50" height="40"></span></h1>
<main>
    <section class="products">
        <div class="product">
            <h4>Баллистическая плита "Мифрил Бр2" </br>(ГОСТ Р 34286-2017)</h4>
            <img src="../img-tac/plita6.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="66">Добавить в корзину</button>
                <p>Цена: 10000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Система комбинированной бронезащиты </br>"MT Гранит"</h4>
            <img src="../img-tac/plita7.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="67">Добавить в корзину</button>
                <p>Цена: 15550₽</p>
            </form>
        </div>
        <div class="product">
            <h4></br>СВМПЭ</br>"ОТГ-141"</h4>
            <img src="../img-tac/plita2.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="62">Добавить в корзину</button>
                <p>Цена: 4500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Антирикошет </br>"ОТГ-141"</h4>
            <img src="../img-tac/plita8.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="68">Добавить в корзину</button>
                <p>Цена: 4000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Климатический амортизаторный подпор</h4>
            <img src="../img-tac/plita3.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="63">Добавить в корзину</button>
                <p>Цена: 3500₽</p>
            </form>
        </div>
    </section>
</main></br></br>
<div class="widget-3"></div>
<footer>
    <header class="widget-menu">
        <li><a href="#"><img src="/img/i.jpg" alt="" height="40p" width="50p"></a></li>
    </header>
    <div class="widget-menu-footer">
        <ul class="widget-menu">
            <li><a href="/inf">Информация</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="#">Методы оплаты</a></li>
            <li><a href="#">Оптовые закупки</a></li>
            <li><a href="/inf">Политика конфиденциальности</a></li>
            <li><a href="#">Договор оферты</a></li>
            <li><a href="#">Дополнительно</a></li>
        </ul>
    </div>
    <div class="widget-menu-footer">
        <ul class="widget-menu">
            <li><a href="#">Акции</a></li>
            <li><a href="#">Возвраты</a></li>
            <li><a href="#">Карта сайта</a></li>
        </ul>
    </div>
    <p>&copy; 2023 Zog-Zog-tac. Все права даёт война (классовая).</p>
</footer>
<div class="widget-3"></div>
<script src="../static/script.js"></script>
</body>
</html>