<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zog-Zog Tac. | Mordor tactical </title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="../img/logo_iconM.jpg"/>
</head>
<body>
<header class="widget-menu">
    <li><a href="/main"><img src="/img/menu.jpg" alt=""></a></li>
    <li><a href="/"><img src="/img/logo.jpg" alt=""></a></li>
    <li><a href="/orders"><img src="/img/basket.jpg" alt=""></a></li>
</header>
<pre>
    <h4 align="center">
Контакты для связи партнеров
Телефон: +7 (999) 000-9999

E-mail: da-da@mail.ru

Адрес: г. Москва, Россия (Юридический Адрес)
    </h4>
</pre>
</body>
</html>