<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zog-Zog-tac. | Mordor tactical </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/logo_iconM.jpg"/>
</head>
<body>
<header class="widget-menu">
    <li><a href="/main"><img src="/img/menu.jpg" alt=""></a></li>
    <li><a href="/"><img src="/img/logo.jpg" alt=""></a></li>
    <li><a href="/orders"><img src="/img/basket.jpg" alt=""></a></li>
</header>
<div class="widget-2">
    <ul class="widget-menu">
    </ul>
</div>
<h1 align="center"><span><img src="../img/i.jpg" alt="" width="50" height="40"></span> ШЛЕМА <span><img src="../img/i.jpg" alt="" width="50" height="40"></span></h1>
<main>
    <section class="products">
        <div class="product">
            <h4>ЗШ-1-2М "Гвард"</h4>
            <img src="../img-tac/slem1.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="701">Добавить в корзину</button>
                <p>Цена: 16000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Шлем 6б47 "Устав"</h4>
            <img src="../img-tac/slem2.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="702">Добавить в корзину</button>
                <p>Цена: 14000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Шлем с забралом "Сфера"</h4>
            <img src="../img-tac/slem3.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="703">Добавить в корзину</button>
                <p>Цена: 15000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Шлем Mich2000/ЛШЗ </br>"Арес"</h4>
            <img src="../img-tac/slem4.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="704">Добавить в корзину</button>
                <p>Цена: 15500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Шлем Тор </br>"Оазис"</h4>
            <img src="../img-tac/slem5.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="705">Добавить в корзину</button>
                <p>Цена: 15000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Шлем Ops Core "Конец-Человечества"</h4>
            <img src="../img-tac/slem6.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="706">Добавить в корзину</button>
                <p>Цена: 15000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Шлем 6б47 "Суворов"</h4>
            <img src="../img-tac/slem7.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="707">Добавить в корзину</button>
                <p>Цена: 14000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Шлем 6б47 "Велес"</h4>
            <img src="../img-tac/slem8.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="708">Добавить в корзину</button>
                <p>Цена: 13000₽</p>
            </form>
        </div>
    </section>
</main></br>
<h1 align="center"><span><img src="../img/i.jpg" alt="" width="50" height="40"></span> ОБВЕС-ШЛЕМА <span><img src="../img/i.jpg" alt="" width="50" height="40"></span></h1>
<main>
    <section class="products">
        <div class="product">
            <h4>Защита затылка </br>"Леший"</h4>
            <img src="../img-tac/slem9.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="709">Добавить в корзину</button>
                <p>Цена: 3000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Модуль-противовес для шлема "Хэдкраб"</h4>
            <img src="../img-tac/slem10.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="710">Добавить в корзину</button>
                <p>Цена: 2500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Чехол для защитных очков "Сирия"</h4>
            <img src="../img-tac/slem11.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="711">Добавить в корзину</button>
                <p>Цена: 700₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Защитные очки </br>к шлему</h4>
            <img src="../img-tac/snar72.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="872">Добавить в корзину</button>
                <p>Цена: 800₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Подвесная система Team Wendy "sTs" Реплика</h4>
            <img src="../img-tac/snar27.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="827">Добавить в корзину</button>
                <p>Цена: 7500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Фонарь нашлемный </br>"sTs" Реплика</h4>
            <img src="../img-tac/snar62.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="862">Добавить в корзину</button>
                <p>Цена: 5000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Нашлемный фонарь направляемый "sTs" Реплика</h4>
            <img src="../img-tac/snar79.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="879">Добавить в корзину</button>
                <p>Цена: 5800₽</p>
            </form>
        </div>
    </section>
</main></br>
<div class="widget-3"></div>
<footer>
    <header class="widget-menu">
        <li><a href="#"><img src="/img/i.jpg" alt="" height="40p" width="50p"></a></li>
    </header>
    <div class="widget-menu-footer">
        <ul class="widget-menu">
            <li><a href="/inf">Информация</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="#">Методы оплаты</a></li>
            <li><a href="#">Оптовые закупки</a></li>
            <li><a href="/inf">Политика конфиденциальности</a></li>
            <li><a href="#">Договор оферты</a></li>
            <li><a href="#">Дополнительно</a></li>
        </ul>
    </div>
    <div class="widget-menu-footer">
        <ul class="widget-menu">
            <li><a href="#">Акции</a></li>
            <li><a href="#">Возвраты</a></li>
            <li><a href="#">Карта сайта</a></li>
        </ul>
    </div>
    <p>&copy; 2023 Zog-Zog-tac. Все права даёт война (классовая).</p>
</footer>
<div class="widget-3"></div>
<script src="../static/script.js"></script>
</body>
</html>