<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zog-Zog-tac. | Mordor tactical </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/logo_iconM.jpg"/>
</head>
<body>
<header class="widget-menu">
    <li><a href="/main"><img src="/img/menu.jpg" alt=""></a></li>
    <li><a href="/"><img src="/img/logo.jpg" alt=""></a></li>
    <li><a href="/orders"><img src="/img/basket.jpg" alt=""></a></li>
</header>
<div class="widget-2">
    <ul class="widget-menu">
    </ul>
</div>
<h1 align="center"><span><img src="../img/i.jpg" alt="" width="50" height="40"></span> МЕД-СНАРЯЖЕНИЕ <span><img src="../img/i.jpg" alt="" width="50" height="40"></span></h1>
<main>
    <section class="products">
        <div class="product">
            <h4>Стандартный бандаж </br>4 дюйма</h4>
            <img src="../img-tac/med1.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="31">Добавить в корзину</button>
                <p>Цена: 700₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Стандартный </br>турнекет</h4>
            <img src="../img-tac/med2.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="32">Добавить в корзину</button>
                <p>Цена: 1000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Мед-ножницы </br>специальные</h4>
            <img src="../img-tac/med3.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="33">Добавить в корзину</button>
                <p>Цена: 500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Пластырь окклюзионный вентилируемый</h4>
            <img src="../img-tac/med4.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="34">Добавить в корзину</button>
                <p>Цена: 1500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Бандаж универсальный перевязочный 6 дюймов</h4>
            <img src="../img-tac/med5.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="35">Добавить в корзину</button>
                <p>Цена: 1000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Стандартный бандаж </br>6 дюйма</h4>
            <img src="../img-tac/med6.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="36">Добавить в корзину</button>
                <p>Цена:800₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Сборная аптечка "Егерь"</h4>
            <img src="../img-tac/med7.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="37">Добавить в корзину</button>
                <p>Цена: 4590₽</p>
            </form>
        </div>
    </section>
</main></br>
<h1 align="center"><span><img src="../img/i.jpg" alt="" width="50" height="40"></span> РПС, ПОЯСА, ЖЕЛЕТЫ <span><img src="../img/i.jpg" alt="" width="50" height="40"></span></h1>
<main>
    <section class="products">
        <div class="product">
            <h4>Боевой пояс "Контакт Бр1"</br>(ГОСТ Р 34286-2017)</h4>
            <img src="../img-tac/snar63.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="863">Добавить в корзину</button>
                <p>Цена: 6000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Боевой пояс </br>"Сварог"</h4>
            <img src="../img-tac/snar36.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="836">Добавить в корзину</button>
                <p>Цена: 5000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Желет </br>"Вагнер"</h4>
            <img src="../img-tac/snar90.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="890">Добавить в корзину</button>
                <p>Цена: 10000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Плечевые лямки "Сабатон"</h4>
            <img src="../img-tac/snar1.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="801">Добавить в корзину</button>
                <p>Цена: 4000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Cуспендоры для варбелта</h4>
            <img src="../img-tac/snar40.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="840">Добавить в корзину</button>
                <p>Цена: 1500₽</p>
            </form>
        </div>
    </section>
</main></br>
<h1 align="center"><span><img src="../img/i.jpg" alt="" width="50" height="40"></span> МАСКИРОВКА <span><img src="../img/i.jpg" alt="" width="50" height="40"></span></h1>
<main>
    <section class="products">
        <div class="product">
            <h4>Снайперская накидка </br>"Следопыт"</h4>
            <img src="../img-tac/mask2.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="22">Добавить в корзину</button>
                <p>Цена: 3200₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Маскировочный чехол на шлем </br>"Следопыт"</h4>
            <img src="../img-tac/mask5.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="25">Добавить в корзину</button>
                <p>Цена: 7700₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Маскировочный чехол на рюкзак </br>"Следопыт"</h4>
            <img src="../img-tac/mask3.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="23">Добавить в корзину</button>
                <p>Цена: 5500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Маскировочная панама </br>"Следопыт"</h4>
            <img src="../img-tac/mask4.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="24">Добавить в корзину</button>
                <p>Цена: 1500₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Снайперская накидка - низ </br>"Следопыт"</h4>
            <img src="../img-tac/mask1.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="21">Добавить в корзину</button>
                <p>Цена: 2600₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Зимний чехол на шлем</br>"Следопыт"</h4>
            <img src="../img-tac/mask6.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="26">Добавить в корзину</button>
                <p>Цена: 1000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Зимняя снайперская накидка</br>"Следопыт"</h4>
            <img src="../img-tac/mask7.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="27">Добавить в корзину</button>
                <p>Цена: 6000₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Зимний чехол на рюкзак</br>"Следопыт"</h4>
            <img src="../img-tac/mask8.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="28">Добавить в корзину</button>
                <p>Цена: 2000₽</p>
            </form>
        </div>
    </section>
</main></br>
<div class="widget-3"></div>
<footer>
    <header class="widget-menu">
        <li><a href="#"><img src="/img/i.jpg" alt="" height="40p" width="50p"></a></li>
    </header>
    <div class="widget-menu-footer">
        <ul class="widget-menu">
            <li><a href="/inf">Информация</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="#">Методы оплаты</a></li>
            <li><a href="#">Оптовые закупки</a></li>
            <li><a href="/inf">Политика конфиденциальности</a></li>
            <li><a href="#">Договор оферты</a></li>
            <li><a href="#">Дополнительно</a></li>
        </ul>
    </div>
    <div class="widget-menu-footer">
        <ul class="widget-menu">
            <li><a href="#">Акции</a></li>
            <li><a href="#">Возвраты</a></li>
            <li><a href="#">Карта сайта</a></li>
        </ul>
    </div>
    <p>&copy; 2023 Zog-Zog-tac. Все права даёт война (классовая).</p>
</footer>
<div class="widget-3"></div>
<script src="../static/script.js"></script>
</body>
</html>