<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zog-Zog Tac. | Mordor tactical</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/logo_iconM.jpg" type="image/jpeg">
</head>
<header class="widget-menu">
    <li><a href="/main"><img src="/img/menu.jpg" alt=""></a></li>
    <li><a href="/"><img src="/img/logo.jpg" alt=""></a></li>
    <li><a href="/orders"><img src="/img/basket.jpg" alt=""></a></li>
</header>
<div class="widget-2">
    <ul class="widget-menu">
    </ul>
</div>
<div class="widget">
    <ul class="widget-menu">
        <li><a href="/odezhda"><br>Одежда<img src="/img/odzhda.jpg" alt=""></a></li>
        <li><a href="/podsumki"><br>Подсумки<img src="/img/podsumki.jpg" alt=""></a></li>
        <li><a href="/snaryashenie"><br>Снаряжение<img src="/img/snaryazhenie.jpg" alt=""></a></li>
        <li><a href="/patchi"><br>Патчи<img src="/img/patchi.png" alt=""></a></li>
        <li><a href="/broniya"><br>Бронежилеты<img src="/img/bronezhilety.jpg" alt=""></a></li>
        <li><a href="/pliti"><br>Плиты<img src="/img/pliti.jpg" alt=""></a></li>
        <li><a href="/ubor"><br>Головные уборы<img src="/img/golovnye_ubory.jpg" alt=""></a></li>
        <li><a href="/kaski"><br>Каски<img src="/img/kaski.jpg" alt=""></a></li>
    </ul>
</div>
<div class="widget-2">
    <ul class="widget-menu">
    </ul>
</div>
<h1 align="center">Welcome to Zog-Zog Tac.</h1>
</br>
<div align="center">
    <img src="/img/logo_iconM.jpg" alt="">
</div>
<main>
    <h1 align="center">ПОПУЛЯРНЫЕ<span><img src="../img/i.jpg" alt="" width="50" height="40"></span>ТОВАРЫ</h1>
    <section class="products">
            <div class="product">
                <h4>Маскировочный костюм </br>"Спецназ ГРУ"</h4>
                <img src="/img-tac/od8.jpg" alt=""></br>
                <form method="post" action="/addbask">
                    <button class="AddToCartBtn" type="submit" name="productId" value="48">Добавить в корзину</button>
                    <p>Цена: 6000₽</p>
                </form>
            </div>
            <div class="product">
                <h4>Снайперская накидка </br>"Следопыт"</h4>
                <img src="/img-tac/mask2.jpg" alt=""></br>
                <form method="post" action="/addbask">
                    <button class="AddToCartBtn" type="submit" name="productId" value="22">Добавить в корзину</button>
                    <p>Цена: 3200₽</p>
                </form>
            </div>
            <div class="product">
                <h4>Маскировочный чехол </br>"Следопыт"</h4>
                <img src="/img-tac/mask5.jpg" alt=""></br>
                <form method="post" action="/addbask">
                    <button class="AddToCartBtn" type="submit" name="productId" value="25">Добавить в корзину</button>
                    <p>Цена: 7700₽</p>
                </form>
            </div>
            <div class="product">
                <h4>Термобелье </br>водоотводящие-утепленное</h4>
                <img src="../img-tac/od12.jpg" alt=""></br>
                <form method="post" action="/addbask">
                    <button class="AddToCartBtn" type="submit" name="productId" value="412">Добавить в корзину</button>
                    <p>Цена: 5000₽</p>
                </form>
            </div>
            <div class="product">
                <h4>Берцы камуфляж </br>"Лес"</h4>
                <img src="../img-tac/od32.jpg" alt=""></br>
                <form method="post" action="/addbask">
                    <button class="AddToCartBtn" type="submit" name="productId" value="429">Добавить в корзину</button>
                    <p>Цена: 5500₽</p>
                </form>
            </div>
            <div class="product">
                <h4>Сборная аптечка "Егерь"</h4>
                <img src="../img-tac/med7.jpg" alt=""></br>
                <form method="post" action="/addbask">
                    <button class="AddToCartBtn" type="submit" name="productId" value="37">Добавить в корзину</button>
                    <p>Цена: 4590₽</p>
                </form>
            </div>
            <div class="product">
                <h4>Система комбинированной бронезащиты "MT Гранит"</h4>
                <img src="/img-tac/plita7.jpg" alt=""></br>
                <form method="post" action="/addbask">
                    <button class="AddToCartBtn" type="submit" name="productId" value="67">Добавить в корзину</button>
                    <p>Цена: 15550₽</p>
                </form>
            </div>
            <div class="product">
                <h4>Шлем Mich2000/ЛШЗ </br>"Арес"</h4>
                <img src="/img-tac/slem4.jpg" alt=""></br>
                <form method="post" action="/addbask">
                    <button class="AddToCartBtn" type="submit" name="productId" value="704">Добавить в корзину</button>
                    <p>Цена: 15500₽</p>
                </form>
            </div>
            <div class="product">
                <h4>Костюм </br>"Осень-МТ"</h4>
                <img src="/img-tac/od4.jpg" alt=""></br>
                <form method="post" action="/addbask">
                    <button class="AddToCartBtn" type="submit" name="productId" value="49">Добавить в корзину</button>
                    <p>Цена: 10000₽</p>
                </form>
            </div>
        </section>
</main></br></br>
<div class="widget-3"></div>
<footer>
    <header class="widget-menu">
        <li><a href="#"><img src="/img/i.jpg" alt="" height="40p" width="50p"></a></li>
    </header>
    <div class="widget-menu-footer">
        <ul class="widget-menu">
            <li><a href="/inf">Информация</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="#">Методы оплаты</a></li>
            <li><a href="#">Оптовые закупки</a></li>
            <li><a href="/inf">Политика конфиденциальности</a></li>
            <li><a href="#">Договор оферты</a></li>
            <li><a href="#">Дополнительно</a></li>
        </ul>
    </div>
    <div class="widget-menu-footer">
        <ul class="widget-menu">
            <li><a href="#">Акции</a></li>
            <li><a href="#">Возвраты</a></li>
            <li><a href="#">Карта сайта</a></li>
        </ul>
    </div>
<p>&copy; 2023 Zog-Zog-tac. Все права даёт война (классовая).</p>
</footer>
<div class="widget-3"></div>
<script src="/script.js"></script>
</body>
</html>