<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zog-Zog-tac. | Mordor tactical </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/logo_iconM.jpg"/>
</head>
<body>
<header class="widget-menu">
    <li><a href="/main"><img src="/img/menu.jpg" alt=""></a></li>
    <li><a href="/"><img src="/img/logo.jpg" alt=""></a></li>
    <li><a href="/orders"><img src="/img/basket.jpg" alt=""></a></li>
</header>
<div class="widget-2">
    <ul class="widget-menu"></ul>
</div>
<h1 align="center"><span><img src="../img/i.jpg" alt="" width="50" height="40"></span> ГОЛОВНЫЕ УБОРЫ <span><img src="../img/i.jpg" alt="" width="50" height="40"></span></h1>
<main>
    <section class="products">
        <div class="product">
            <h4>Кепка "Гас"</h4>
            <img src="../img-tac/od21.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="421">Добавить в корзину</button>
                <p>Цена: 600₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Шапка-подшлемник "ОТГ-141"</h4>
            <img src="../img-tac/od18.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="418">Добавить в корзину</button>
                <p>Цена: 800₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Шапка-подшлемник "Саруман"</h4>
            <img src="../img-tac/od20.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="420">Добавить в корзину</button>
                <p>Цена: 800₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Балаклава демосезонная-зимняя</h4>
            <img src="../img-tac/snar56.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="856">Добавить в корзину</button>
                <p>Цена: 900₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Зимняя флисовая балаклава</h4>
            <img src="../img-tac/snar15.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="815">Добавить в корзину</button>
                <p>Цена: 800₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Балаклава демсез-водостойкая</h4>
            <img src="../img-tac/snar.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="800">Добавить в корзину</button>
                <p>Цена: 900₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Балаклава камуфляж "Лес"</h4>
            <img src="../img-tac/snar9.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="809">Добавить в корзину</button>
                <p>Цена: 600₽</p>
            </form>
        </div>
        <div class="product">
            <h4>Снайперский шарф "Флис"</h4>
            <img src="../img-tac/snar8.jpg" alt=""></br>
            <form method="post" action="/addbask">
                <button class="AddToCartBtn" type="submit" name="productId" value="808">Добавить в корзину</button>
                <p>Цена: 2000₽</p>
            </form>
        </div>
    </section>
</main></br>
<div class="widget-3"></div>
<footer>
    <header class="widget-menu">
        <li><a href="#"><img src="/img/i.jpg" alt="" height="40p" width="50p"></a></li>
    </header>
    <div class="widget-menu-footer">
        <ul class="widget-menu">
            <li><a href="/inf">Информация</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="#">Методы оплаты</a></li>
            <li><a href="#">Оптовые закупки</a></li>
            <li><a href="/inf">Политика конфиденциальности</a></li>
            <li><a href="#">Договор оферты</a></li>
            <li><a href="#">Дополнительно</a></li>
        </ul>
    </div>
    <div class="widget-menu-footer">
        <ul class="widget-menu">
            <li><a href="#">Акции</a></li>
            <li><a href="#">Возвраты</a></li>
            <li><a href="#">Карта сайта</a></li>
        </ul>
    </div>
    <p>&copy; 2023 Zog-Zog-tac. Все права даёт война (классовая).</p>
</footer>
<div class="widget-3"></div>
<script src="../static/script.js"></script>
</body>
</html>